/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 févr. 2018, 15:56:51
    Author     : digistage1
*/

/*Style pour téléphone & tablette*/
@media screen and (max-width: 1024px)
{   
    /*
        Header.php partie Nav
    */
    html{background-color: #c0b55e;width: 100%;overflow-x: hidden; height: 100%; }
    body{width : 100%; position : relative;overflow: hidden;padding: 0;}
    header{ width: 100%;background-color: #c0b55e; overflow: auto; left : -100%;position: fixed; height:100%;}
    #contenu{width: 100%;overflow: scroll;height: 100%; position: fixed;}
    
        /*Menu de navigation du header*/
    .menu {float : none; width: 100%;margin-top: 0; padding-bottom: 100px; }
    .nav-menu li a,
    .nav-menu li {color: #1c1c1c; }
    .nav-menu li a {width: 100%; }
    .nav-menu {display : block; margin : 0;border-bottom: 0.5px solid #1c1c1c;font-family: "montserratbold"; margin-top: 10%; }
    .select { border-top: 0.5px solid #1c1c1c;padding: 0;padding-top: 3%; padding-bottom: 3%; margin: 0; width : 100%;}
    .select a {padding: 3%;padding-left: 10%; padding-right: 70%;}
    
        /*Menu de contact*/
    .contact-form-mobile { text-align: left;padding: 0; width: 100%;min-height: max-content;position: fixed;height: 100%;overflow: auto;}
    .contact-form{position: static; text-align: left;height: 100%;right: 0; top : 0;}
    .btn-contact{margin-top: 5%;}
    .form-content{width: 100%; display: block; padding: 0;padding-bottom: 20px;}
    .form-content label{margin-top: 25px; text-align: center; font-size: 28px; }
    .form-content input{height: 70px; font-size: 32px;padding-left: 15px;}
    .contact-form input[type=submit]{width: 55%;font-size: 28px;}
    .form-content textarea{height: 200px; font-size: 32px;padding-left: 15px;padding-top: 15px;margin-bottom: 25px;}
    .form-message {margin : auto; text-align: center;margin-top: 30%;}
    
    
    /*
        Toutes les pages : partie home
    */
    .home { width: 100%; display: block; }
    .home-content{ width: 80%; margin:auto; float: none; padding :0; padding-bottom: 20px;}
    .title { font-size: 60px; margin-top: 150px; }
    .b-text { font-size: 24px; line-height: 30px; margin-bottom: 30px; }
    .l-text {font-size: 18px; line-height: 24px;}
    .img-text,
    .i-text { width : 100%;}
    .img-l,
    .img-r { width: 100%; float: none; display: block; }
    .el-desk { display: none!important;}
    .el-mobile { display: block;}
    
    /*
        Home.php : partie content
    */
    .content{ display: block; }
    .m-img { display: inline-flex; position: relative; float: none; width: 100%;}
    .main-content{width: 100%; float: none; margin: 0; padding-top: 50px;}
    .text-content {width : 80%; text-align: center; margin: auto;}
    .cont{background-color: transparent; box-shadow: none; width: 80%; margin: auto; padding-bottom: 30px;}
    .cont-middle {float: none; position: relative;margin: auto; left: 0;}
    .cont-l,
    .cont-r {float : none; background-color: #2f2f2f; ; text-align: center; margin: auto; margin-top: 20px;}
    .cont-l,
    .cont-r,
    .cont-middle { box-shadow: 1px 1px 10px 1px #1c1c1c; width: 85% ; padding-top: 30px; padding-bottom: 30px;}
    .cont-m {width: 80%;}
    .info-content {width: 80%; margin: auto;margin-bottom: 20px;}
    .contact-content{width: 230px;max-width: none;}
    .home-contact {width : 50%;padding: 1.5%;}
    
    /*
        Home.php : partie ending
    */
    .ending {display: block; font-size: 18px; line-height: 24px; top : 0;}
    .l-ending,
    .r-ending{width: 100%;float: none; top : 0; padding: 0;}
    .r-ending p,
    .l-ending p{margin: 0; padding: 20px; }
    .r-ending p {padding-bottom: 0;}
    .e-ending {padding-bottom: 20px!important;}
    
    /*
        Atomik.php : partie spec
    */
    .g-title{width: 80%; margin: 0; text-align: left; margin: auto; font-size: 24px; line-height: 30px; margin-bottom: 20px;}
    .slider figure{ width: 100%; left : 0;margin : 0; height : auto;display: block;}
    .slide-active{box-shadow: none;}
    .slide{box-shadow: 1px 1px 20px 1px #1c1c1c;float :none; opacity: 1; width: 80%; margin: auto; margin-bottom: 35px;max-width: 600px; }
    .i-slide{padding: 7%;float: none;}
    .info-slide{padding: 7%; padding-top: 0;}
    .title-slide{font-size: 24px;}
    .desc-slide{font-size: 18px; line-height: 24px;}
    
    /*
        Atomik.php : partie gallery
    */
    .gallery-content{width: max-content;overflow-x: scroll;width: 100%;}
    .s-gallery{max-width: max-content;display: flex;}
    .btn-gallery{max-width: none; width: 50%;text-align: center;}
    .modal-content{max-width: 95%;}
    .modal-header{height: 15px;}
    .modal-body{padding: 2.5%; padding-top: 0;}
    .close{font-size: 15px;}
}

/*Style pour téléphone*/
@media screen and (max-width: 600px)
{
    
    /*
        Header.php partie Nav
    */
    
        /*Menu de navigation du header*/
    .nav-menu{margin-top: 15%;}
    .select { padding: 0;padding-top: 6%; padding-bottom: 6%; margin: 0; width : 100%;}
    .select a {padding: 6%;padding-left: 10%; padding-right: 50%;}
    
        /*Menu de contact*/
    .form-content label {margin-top: 20px;font-size: 16px;}
    .form-content input{ font-size: 16px;}
    .form-content input{height: 40px; font-size: 18px;}
    .form-content textarea{height: 170px;padding-left: 10px; padding-top: 10px; margin-bottom: 15px;font-size: 18px;}
    .contact-form input[type=submit]{width: 85%;font-size: 16px;}
    .form-message {margin-top: 50%;}
    
    /*
        Toutes les pages : partie home
    */
    .title { margin-top: 100px;}
    .home-contact {width : 95%;padding: 2.5%;}
    
    /*
        Atomik.php : partie gallery
    */
    .btn-gallery{max-width: none; width: 65%;}
}