/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 janv. 2018, 12:02:20
    Author     : digistage1
*/
html
{
    width: 100%;
    font-family: "montserratthin";
}
body
{
    margin: 0;
    padding : 30px;
    background-color: #000000;
}
header
{
    position: absolute;
    z-index: 7;
    width: 100%;
    margin: 0;
}
footer
{
    display: block;
    margin: auto;
    text-align: center;
    background-color: #000000;
    color: #deddda;
    font-size: 12px;
    padding: 5px;
}
.bold
{
    font-family: "montserratbold";
}
.medium
{
    font-family: "montserratmedium";
}
.regular
{
    font-family: "montserratregular";
}
.light
{
    font-family: "montserratlight";
}
.semibold
{
    font-family: "montserratsemibold";
}
/*
    Header.php : partie Nav
*/

#body-content
{
    position: relative;
    
}
.menu
{
    
    position: relative;
    margin-top: 25px;
    float: left;
    width: 40%;
    
}
.nav-menu
{
    display: flex;
    padding: 0;
    margin-left: 15%;
    width: 100%;
}
.nav-menu li a
{
    color: #c0b55e;
    text-decoration: none;
    text-transform: uppercase;
}
.select
{
    cursor: pointer;
    list-style: none;
    margin-right: 35px;
}
.active
{
    cursor: context-menu;
}
.contact
{
    display: block;
    position: relative;
    vertical-align: middle;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.contact-form
{
    position: absolute;
    top : 35px;
    right:8.5%;
    text-align: right;
    z-index: 6;
    padding: 7.5px;
    background-color: #c0b55e;
}
.form-content
{
    display: none;
    width: 270px;
    padding-top: 10px;
    color: #1c1c1c;
    border-radius: 2px;
}
.contact-btn
{
    display: block;
    position: relative;
    width: 100%;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}
.contact-form label
{
    width: 85%; 
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.contact-form input
{
    background-color: #deddda;
    border: none;
    width: 85%;
    margin: auto;
    display: block;
    height: 30px; 
    font-size: 18px;
    padding-left: 10px;
}
.contact-form input[type=submit]
{
    margin: auto;
    display: block;
    padding: 7.5px;
    vertical-align: middle;
    width: 170px;
    text-align: center;
    text-transform: uppercase;
    background-color: #1c1c1c;
    color: #c0b55e;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-form textarea
{
    height: 200px;
    display: block;
    resize:none;
    background-color: #deddda;
    border: none;
    width: 85%;
    font-size: 18px;
    margin: auto;
    padding-left: 10px;
    padding-top: 10px;
}
.contact-msg
{
    display: none;
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
}
.form-message
{
    display: none;
    width: 240px;
    padding: 15px;
}
.bulle
{
    width: 85%;
    margin: auto;
    display: block;
    margin-top: 5px;
    font-size: 13px;
    display: flex;
}
.bulle-content
{
    height: max-content;
    padding-top: 3%;
}
.i-bulle 
{
    width: 24px;
    padding-right: 5%;
}

/*
    Toute les pages : partie Home
*/

.container
{
    position: relative;
    background: #1c1c1c;
    overflow: hidden;
    margin-top: 0;
    width: 100%;
    left: 0;
}
.container-home:before
{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.07;
    background-image: url(../img/home/mini-home-03.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.container *
{
    position: relative;
}
.title
{
    font-weight: normal;
    font-size: 98px;
    margin-bottom: 0;
    margin-top: 100px;
}

.sub-title
{
    color: #c0b55e;
    margin-bottom: 25px;
}
.home
{
    width : 100%;
    display: flex;
    max-height: 100%;
    color: #deddda;
}
.home-content
{
    float : left;
    width: 50%;
    margin-left: 5%;
    display: block;
    padding-right: 5%;
}

.img-r
{
    width: 40%;
    float: right;
    text-align: right;
    padding: 0;
    right: 0;
    top : 0;
    margin: 0;
    bottom: 0;
    display: block;
}
.img-r img
{
    width: 100%;
    max-width: 100%;
}
.b-text
{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 25px;
}
.l-text
{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
}
.l-text-last
{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
}
.i-text
{
    margin: auto;
    display: block;
    width: 370px;
    margin-top: 25px;
}

/*
    Home.php : partie Content
*/

.content
{
    width: 100%;
    margin : 0;
    display: inline-flex;
    max-height: 100%;
}
.img-l
{
    width: 40%;
    float: left;
    text-align: left;
    padding: 0;
    left: 0;
    top : 0;
    margin: 0;
    bottom: 0;
}
.img-l img
{
    width: 100%;
    display: block;
    max-width: 100%;
}
.m-img
{
    display: flex;
    width: 60.05%;
    float: right;
    position: absolute;
    margin: 0;
    right: 0;
    padding: 0;
    z-index: 6;
}
.img-mini
{
    margin: 0;
    padding: 0;
    display: block;
    width: 14.285%;
    height: 100%;
    left : 0;
    right : 0;
}
.main-content
{
    display: inline-block;
    background-color: #c0b55e;
    margin: 0;
    padding: 0;
    width: 60.05%;
    float: right;
    left : 0;
    right : 0;
    color: #deddda;
    font-size: 18px;
    position: relative;
    padding-bottom: 30px;
    margin-left: -0.05%;
}
.text-content
{
    color: #000000;
    width : 70%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 25%; 
}
.objet-cont
{
    margin: auto;
    padding: 30px;
}
.cont
{
    background-color: #2f2f2f;
    width: 610px;
    padding-bottom: 120px;
    padding-top: 30px;
    margin: auto;
    box-shadow: 1px 1px 10px 1px #000000;
    margin-bottom: 70px;
}
.cont-l
{
    float: left;
    position: relative;
    line-height: 24px;
    width: 150px;
    text-align: right;
    margin-left: 20px;
}
.cont-r
{
    float: right;
    position: relative;
    line-height: 24px;
    width: 150px;
    text-align: left;
    margin-right: 20px;
}
.cont-middle
{
    background-color: #2f2f2f;
    width : 250px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: auto;
    display: block;
    position: absolute;
    margin-top: -70px;
    left : 29.5%;
    box-shadow: 1px 1px 20px 1px #1c1c1c;
    text-align: center;
}
.cont-m
{
    width: 100%;
    display: block;
    line-height: 24px;
    margin: auto;
    
}
.info-content
{
    font-size: 13px;
    text-align: center;
    color: #1c1c1c;
    margin-bottom: 20px;
}
.contact-content
{
    margin: auto;
    display: block;
    z-index: 2;
    vertical-align: middle;
    max-width: 20%; 
    text-align: center;
    text-transform: uppercase;
    background-color: #1c1c1c;
    cursor: pointer;
    padding: 7.5px;
    user-select: none;
}
.contact-content a
{
    text-decoration: none;
    color: #deddda;
    width: 170px;
    padding: 7.5px;
}
/*
    Home.php : partie Ending(fin)
*/
.italic
{
    font-style: italic;
}
.ending
{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #deddda;
    font-size: 22px;
    line-height: 40px;
    
}
.l-ending
{
    width: 50%;
    float: left;
    display: block;
    margin : 0;
    background-image: url(../img/home/bg-home-02.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 30px;
}
.r-ending
{
    width: 50%;
    display: block;
    margin: 0;
    float: right;
    background-image: url(../img/home/bg-home-03.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.l-ending p,.r-ending p
{
    margin-left: 60px;
    margin-right: 60px;
}
.e-ending
{
    margin-top: 0px;
}
.i-end
{
    margin-bottom: 0px;
}

/*
    Atomik.php : Partie specs
*/

.specs
{
    width: 100%;
    position: relative;
    display : block;
    background-color: #c0b55e;
}
.g-title
{
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 36px;
}
.slider
{
    width: 100%;
    position : relative;
    padding-top: 10px;
    padding-bottom: 40px;
    overflow: hidden;
}
.slider figure
{
    width: 500%;
    position: relative;
    display: flex;
    margin : 0;
    padding :0;
    text-align: left;
    left : 20%;
}
.slide
{
    background-color: #1c1c1c;
    color:#deddda;
    width: 10%;
    height: auto;
    float: left;
    margin : 1%;
    margin-top: 0;
    opacity: 0.9;
}
.i-slide
{
    padding : 4%;
    display: block;
    margin: 0;
    float: left;
}
.img-slide
{
    width: 100%;
}
.info-slide
{
    display: block;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
}
.title-slide
{
    color: #c0b55e;
    font-size: 36px;
}
.desc-slide
{
    font-size: 22px;
    line-height: 28px;
}
.desc-slide ul
{
    list-style: none;
    padding: 0;
}
.slide-active
{
    box-shadow: 1px 1px 20px 1px #1c1c1c;
    opacity: 1;
}
.btn-slide
{
    font-size: 35px;
    position: absolute;
    top : 60%;
    cursor: pointer;
    color: #1c1c1c;
    user-select: none;
}
.btn-left-slide
{
    left: 22.5%;
}
.btn-right-slide
{
    right: 22.5%;
}

/*
    Atomik.php : Partie gallery
*/

.gallery
{
    width: 100%;
    background-color: #2f2f2f;
    padding-bottom: 100px;
}

.gallery-title
{
    color: #c0b55e;
}

.gallery-content
{
    width : 90%;
    display: block;
    margin : auto;
    text-align: center;
}
.s-gallery
{
    width : 100%;
}
.i-gallery
{
    display: inline;
    position: relative;
    max-height: max-content;
    max-width: max-content;
    cursor: pointer;
}
.img-gallery
{
    width: 240px;
    margin: 15px;
}
.btn-gallery
{
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: #c0b55e;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
    max-width: max-content;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 2px;
}
.btn-gallery a
{
    text-decoration: none;
    color: #1c1c1c;
    z-index: 0;
}

.modal 
{
    display: none;
    position: fixed; 
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.7); 
    padding-right: 5%
}
scrollbar{
    display: none !important ;
}
.modal-header
{
    width: 100%;
    height: 20px;
}

.modal-content 
{
    background-color: #fefefe;
    margin: 5% auto; 
    border-radius : 1%;
    border: 1px solid #888;
    max-width: 80%;
    width : max-content;
    max-height: max-content;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.img-modal
{
    width: 100%;
    min-width: 100%;
}
.modal-body
{
    padding: 20px;
    padding-top: 0;
}

.close 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.close:hover,.close:focus 
{
    color: black;
    text-decoration: none;
    
}

/*
    Service.php
*/

.mail
{
    color: #c0b55e;
}

/*
    News.php
*/
.t-text,.img-text
{
    margin-bottom: 10px;
}
.t-text
{
    margin-top: 20px;
}
.img-text
{
    width: 70%;
}
.link-text
{
    color: #c0b55e;
    text-decoration: none;
}
.c-text
{
    margin-bottom: 0;
}

/*
    Element mobile
*/
.btn-header, .btn-open
{
    z-index: 6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.btn-header
{
    position: absolute;
}

.i-nav
{
    color : #c0b55e;
    font-size: 60px;
}

.i-close, .i-close-contact
{
    color : #1c1c1c;
    font-size: 60px;
    width : 60px;
}
.i-close-contact
{
    margin-left: 10%;
}
.home-contact
{
    margin: auto;
    display: block;
    padding: 2.5%;
    vertical-align: middle;
    width: 95%;
    text-align: center;
    text-transform: uppercase;
    background-color: #c0b55e;
    border-radius: 2.0px;
    color :#000000;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
}
.el-desk
{
    display: block;
}

.el-mobile
{
    display: none;
}
.block
{
    display: block;
}